.circle {
  width: unit(70);
  height: unit(60);
  position: relative;
  .info {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: unit(8);
    box-sizing: border-box;
    padding-top: unit(10);
  }
}
