$h: unit(36);

.header {
  height: $h;
  padding: 0 unit(12);
  display: flex;
  align-items: center;
}
.back {
  height: $h;
  display: flex;
  align-items: center;
  margin-right: unit(6);
  font-size: unit(8);
}
.title {
  font-size: unit(14);
}